ul#dummyId.someCssClass
  li
    a(href="/") Home page
  li
    a(href="/users") Users page
  li
    a(href="/about") About page (does not have a template!)
  li
    a(href="/errorpage") Goes to the error page, point of no return!